<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Write</title>
</head>
<body>
<form th:action="@{/profile/new}" th:object="${profileForm}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{profileIdx}"/>
    <div>
        <label th:for="nickname">닉네임 : </label>
        <input type="text" th:field="*{nickname}" class="form-control" required>
    </div>
    <div>
        <label th:for="aboutMe">자기소개 : </label>
        <textarea th:field="*{aboutMe}" class="form-control" required></textarea>
    </div>
    <div>
        프로필 사진 : <input type="file" multiple="multiple" th:field="*{profileImage}">
    </div>
    <br>
    <button type="submit">등록</button>
</form>

</body>
</html>