<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Miary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container" style="max-width: 600px">
    <div>
        <h2>홈 화면</h2>
    </div>

    <img th:each="image : ${profileImage}" th:src="|/images/${image.getStoreFileName()}|" width="100" height="100"/>
    <h4 th:text="|닉네임 : ${profile.nickname}|"></h4>
    <h4 th:text="|자기소개 : ${profile.aboutMe}|"></h4>

    <button th:onclick="|location.href='@{/profile/new}'|" type="button">프로필 생성</button>
    <button th:onclick="|location.href='@{/profile/{profileIdx}/edit(profileIdx=${profile.profileIdx})}'|" type="button">프로필 수정</button>

    <br>

    <form th:action="@{/logout}" method="post">
        <button onclick="location.href='home.html'" type="submit">
            로그아웃
        </button>
    </form>

    <br>

    <div>
        <span>
            <button th:onclick="|location.href='@{/updateLoginHome}'|" type="button">메인</button>
        </span>

        <span>
            <button th:onclick="|location.href='@{/{memberIdx}/diary(memberIdx=${member.memberIdx})}'|" type="button">일기장</button>
        </span>

        <span>
            <button th:onclick="|location.href='@{/guestBook}'|" type="button">
                커뮤니티
            </button>
        </span>

        <span>
            <button th:onclick="|location.href='@{/members/{memberIdx}/edit (memberIdx=${member.memberIdx})}'|" type="button">
                내 정보 수정
            </button>
        </span>
    </div>

    <hr>
    <h4>최근 게시물(만든 날짜 정렬)</h4>
    <tr th:each="diary : ${diaryList}" th:if="${diaryStat.count} <= 10">
        <td>
            <span th:text="${diaryStat.count}"></span>
        </td>
        <td>
            <a th:href="@{/diary/{diaryIdx}/Info(diaryIdx=${diary.diaryIdx})}">
                <span th:text="${diary.title}"></span>
            </a>
        </td>
        <br>
    </tr>
    <hr>
    <h4>최근 게시물의 사진</h4>
    <div>
        <img th:each="image : ${imageFiles}" th:src="|/images/${image.getStoreFileName()}|" width="300" height="300"/>
    </div>

    <hr>

</div>
</body>
</html>