<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GuestBook</title>

    <style>
        ul{
            margin-top: 20px;
        }

        ul li{
            list-style-type: none;
            display: inline-block;
        }
    </style>

    <script>
        function callReplyForm(){
            var form = document.getElementById("replyWrite");
            if(form.style.display == 'none'){
                form.style.display = 'block';
            }else{
                form.style.display = 'none';
            }
        }
    </script>

</head>
<body>

<form th:action="@{/guestBook/new}" th:object="${guestBookForm}" method="post">
    <textarea th:field=*{comments} cols="50" rows="10" required></textarea>
    <button type="submit">등록</button>
</form>

<hr>

<div th:each="guestBook : ${pageList}" >
    <div>
        <span th:text="${guestBookStat.count}"></span>
        작성자 : <span th:text="${guestBook.getGuestBookMember().getProfile().getNickname()}"></span>
        | <span th:text="${#temporals.format(guestBook.created, 'yyyy-MM-dd')}"></span>
    </div>

    <div>
        내용 : <span th:text="${guestBook.comments}"></span>
        <br>
        <button th:onclick="|location.href='@{/{guestBookIdx}/reply/new(guestBookIdx=${guestBook.commentIdx})}'|" type="submit">댓글</button>

    </div>

    <hr>
</div>

<button th:onclick="|location.href='@{/updateLoginHome}'|" type="button">홈으로</button>

<div>
    <ul>
        <li th:each="page : ${#numbers.sequence(0, totalPage - 1)}">
            <a th:href="@{/guestBook(page=${pageStat.index})}" th:text="${pageStat.index + 1}"></a>
        </li>
    </ul>
</div>


</body>
</html>